$fontSize: 25px;
$fontSizeInput: 25px;
$fontFamily: "Montserrat", sans-serif;

body {
  font: {
    size: $fontSize;
    family: $fontFamily;
  }
  background-color: #D1E0EA;
  padding:{
    top: 10px;
    right: 5px;
    left: 5px;
    bottom: 50px;
  }
}

#chatField {
  position:fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border: solid 2px black;
  border-radius: 3px;
  font-size: $fontSizeInput;
  outline: none;
}

.botText {
  text-align: right;
  color: grey;
}

.userText {
  text-align: left;
}

.frenchTrans .germanTrans .hungryTrans {
  // display: none;
}
