$fontSize: 25px;
$fontSizeInput: 25px;
$fontFamily: "Montserrat", sans-serif;

body {
  font: {
    size: $fontSize;
    family: $fontFamily;
  }
}

#chatField {
  position:fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  border: solid 2px black;
  font-size: $fontSizeInput;
}

.botText {
  text-align: right;
  color: grey;
}

.userText {
  text-align: left;
}
